.front
{
	margin:50px;
	border:2px solid black;
	display:flex;
	justify-content:space-evenly;
	background-color:skyblue;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.dark
{
	font-size:40px;	
	color:black;
	text-align:center;
	background-color:yellowgreen;
	margin:10px;
}
.text
{
	font-size:20px;
	color:black;
	background-color:yellow;
	margin:10px;
}
.photo
{
	height:100px;
	width:80px;
	border:1px solid black;
	background-color:orange;
	margin:10px;
}
.intro
{
	margin:50px;
	border:2px solid black;
	display:flex;
	flex-direction:column;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.intro .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.details
{
	margin:50px;
	border:2px solid black;
	display:flex;
    justify-content:space-evenly;	
}
.proof
{
	margin:50px;
	border:2px solid black;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.talent
{
	margin:50px;
	border:2px solid black;
	display:flex;
	flex-direction:column;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.talent .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}

.portfolio
{
	margin:50px;
	border:2px solid black;
	display:flex;
	flex-direction:column;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
	
}
.portfolio .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.portfolio .split .text
{
	border:1px solid black;
	height:180px;
	width:360px;
	margin:3px;
	
}

.services
{
	margin:50px;
	border:2px solid black;
	display:flex;
	flex-direction:column;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.services .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.end
{
	display:flex;
	margin:50px;
	border:2px solid black;
	flex-direction:column;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.end .text
{
	text-align:center;
}
.contact
{
	margin:50px;
	border:2px solid black;
	display:flex;
	flex-direction:column;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.contact .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.contact .split1
{
	display:flex;
	flex-direction:column;
}
.contact .split2
{
	display:flex;
	flex-direction:column;
}
.contact .split2 .split21
{
	display:flex;
	flex-direction:row;
	
}
.contact .split2 .split22
{
	display:flex;
	flex-direction:column;
}
.contact .split2 .split23
{
	display:flex;
	flex-direction:column;
}
.thank 
{
	margin:50px;
	border:2px solid black;
	display:flex;
	flex-direction:column;
	margin:200px;
	margin-bottom:5px;
	margin-top:5px;
}
.thank .split1
{
	display:flex;
	flex-direction:column;
}
.thank .split2
{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.thank .split2 .text
{
	border:1px solid black;
	height:15px;
	width:30px;
	margin:5px;
}